.content {
  justify-self: center;
  margin-top: calc(100vh * 0.39 - 1em);
  font-size: 4rem;
}

.temperature {
  opacity: 0;
  animation: in 150ms 150ms ease-in forwards;
}

.animate {
  opacity: 0;
  animation: in 1000ms 1500ms ease-in forwards;
}

@keyframes in {
  to {
    opacity: 1;
  }
}
