*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-k: #0f3b3a;
  --color-K: #155352;
  --color-grey: #b1c9c3;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-areas: body;
  min-height: 100vh;
  color: var(--color-grey);
  font-family: system-ui;
  background-image: linear-gradient(180deg, var(--color-k), var(--color-K));
  background-repeat: cover;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-areas: root;
}
